@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f8f8f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1d1d1d;
  }
}

body {
  background-color: var(--bg-color);
}
body.modal-open {
  overflow: hidden;
}

@layer base {
  body {
    @apply text-[16px]/[1.5];
  }

  svg {
    @apply w-full h-full fill-current;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page {
    @apply flex flex-col gap-[10px] w-full h-full p-[30px];
  }

  .section {
    @apply flex flex-col gap-[20px] w-full h-full p-[20px] overflow-hidden bg-white rounded-[20px];
  }

  .component-default {
    @apply text-light-red tracking-[2px] uppercase bg-white rounded-[10px] transition-colors duration-300 group-hover:bg-rose group-data-[active='true']:bg-light-red group-data-[active='true']:text-white;
  }

  .component-white {
    @apply text-light-red tracking-[2px] uppercase bg-white rounded-[10px] transition-colors duration-300 hover-not-disabled:bg-rose data-[active='true']:bg-light-red data-[active='true']:text-white;
  }

  .component-rose {
    @apply text-light-red tracking-[2px] uppercase bg-rose rounded-[10px] transition-colors duration-300 hover-not-disabled:bg-light-red hover-not-disabled:text-white data-[active='true']:bg-light-red data-[active='true']:text-white;
  }

  .component-red {
    @apply text-white tracking-[2px] uppercase bg-light-red rounded-[10px] transition-colors duration-300 hover-not-disabled:bg-rose hover-not-disabled:text-light-red data-[active='true']:bg-light-red data-[active='true']:text-white disabled:cursor-not-allowed;
  }

  .component-gray {
    @apply text-primary tracking-[2px] uppercase bg-light rounded-[10px] border-2 border-transparent transition-colors duration-300 hover:border-2 hover:border-rose hover:text-light-red data-[active='true']:bg-light-red data-[active='true']:text-white;
  }
}

@layer loader {
  .skeleton {
    background: linear-gradient(110deg, #ececec 8%, #f8f8f8 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
}

@layer select {
  .select {
    @apply relative flex items-center h-[40px] rounded-[10px] border-2 border-transparent transition-border duration-300 hover:border-rose;
    @apply after:absolute after:right-[10px] after:content-[''] after:w-[12px] after:h-[12px] after:bg-select-arrow after:pointer-events-none;
  }
}
