@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f8f8f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1d1d1d;
  }
}

body {
  background-color: var(--bg-color);
}
